{% if page.lang == 'en' %}
<section class="wrapper alt style1">
    <section class="spotlight">
        <div class="image"><img src="/images/2024/depascale.jpg" alt="" /></div><div class="content">
            <h2>Maurizio de Pascale</h2>
            <p>He is now on sabbatical. He was Chief Technology Officer of Io-Interactive, and Technical Architect at Ubisoft.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/sassone.jpg" alt="" /></div><div class="content">
            <h2>Gabriel Sassone</h2>
            <p>Principal Rendering Engineer at The Multiplayer Group, he's been Senior Rendering at Avalanche Studios.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/sciglio.jpg" alt="" /></div><div class="content">
            <h2>Maurizio Sciglio</h2>
            <p>On sabbatical, he's been Director, Technology Partnerships at Epic Games, Inc., and CEO and Co-founder of Cloudgine, now part of Epic Games.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/gentile.jpg" alt="" /></div><div class="content">
            <h2>Mauro Gentile</h2>
            <p>Technology Director at Ubisoft, he's been part of the Research & Development division of NextMedia Lab.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/aurea.jpg" alt="" /></div><div class="content">
            <h2>Lorenzo Aurea</h2>
            <p>Lead Architect for Game Engineering and Infrastructure Solutions at Ubisoft, he was Lead Online Architect for Rainbow Six: Siege. He worked on several MMOs.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/surace.jpg" alt="" /></div><div class="content">
            <h2>Luca Surace</h2>
            <p>PhD Student in Computer Graphics at USI Lugano, he works on foveated rendering and human perception.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/barbieri.jpg" alt="" /></div><div class="content">
            <h2>Davide Barbieri</h2>
            <p>Freelancer and Co-founder of GhostShark Games, he works as Game Director and Developer.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/bianchi.jpg" alt="" /></div><div class="content">
            <h2>Carlo Ivo Alimo Bianchi</h2>
            <p>CEO and Game Director of STORM IN A TEACUP, he was Senior and Lead Artist at Ubisoft, Square Enix, Warner Bros Games, Crytek and others.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/barillari.jpg" alt="" /></div><div class="content">
            <h2>Andrea Barillari</h2>
            <p>UI/RPG Programmer at Warner Bros, he worked on Gotham Knights and Suicide Squad: Kill The Justice League.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/valesini.jpg" alt="" /></div><div class="content">
            <h2>Andrea Valesini</h2>
            <p>Co-Founder and Creative Director of Fantastico Studio.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/ricchiuti.jpg" alt="" /></div><div class="content">
            <h2>Diego Ricchiuti</h2>
            <p>Diego Ricchiuti is a Creative Director and a consultant with more than 15 years of experience, and the author of the first Italian book on game design: Game Design Tools.</p>
        </div>
    </section>
</section>
{% else %}
<section class="wrapper alt style1">
    <section class="spotlight">
        <div class="image"><img src="/images/2024/depascale.jpg" alt="" /></div><div class="content">
            <h2>Maurizio de Pascale</h2>
            <p>Attualmente in anno sabbatico. &Egrave; stato Chief Technology Officer di Io-Interactive e Technical Architect presso Ubisoft</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/sassone.jpg" alt="" /></div><div class="content">
            <h2>Gabriel Sassone</h2>
            <p>Principal Rendering Engineer presso The Multiplayer Group, &egrave; stato Senior Rendering presso Avalanche Studios.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/sciglio.jpg" alt="" /></div><div class="content">
            <h2>Maurizio Sciglio</h2>
            <p>In anno sabbatico, &egrave; stato Director, Technology Partnerships presso Epic Games, Inc. e CEO e co-fondatore di Cloudgine, ora parte di Epic Games.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/gentile.jpg" alt="" /></div><div class="content">
            <h2>Mauro Gentile</h2>
            <p>Technology Director presso Ubisoft, &egrave; stato parte della divisione Research & Development di NextMedia Lab.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/aurea.jpg" alt="" /></div><div class="content">
            <h2>Lorenzo Aurea</h2>
            <p>Lead Architect for Game Engineering and Infrastructure Solutions alla Ubisoft, &egrave; stato Lead Online Architect per Rainbow Six: Siege. Ha lavorato a molteplici MMOs.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/surace.jpg" alt="" /></div><div class="content">
            <h2>Luca Surace</h2>
            <p>Dottorando in Computer Graphics aalla USI Lugano, lavora sul foveated rendering e human perception.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/barbieri.jpg" alt="" /></div><div class="content">
            <h2>Davide Barbieri</h2>
            <p>Freelancer e co-fondatore di GhostShark Games, lavora come Game Director e Developer.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/bianchi.jpg" alt="" /></div><div class="content">
            <h2>Carlo Ivo Alimo Bianchi</h2>
            <p>CEO e Game Director di STORM IN A TEACUP, &egrave; stato Senior e Lead Artist presso Ubisoft, Square Enix, Warner Bros Games, Crytek ed altre societ&agrave;.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/barillari.jpg" alt="" /></div><div class="content">
            <h2>Andrea Barillari</h2>
            <p>UI/RPG Programmer presso Warner Bros, ha lavorato a Gotham Knights e Suicide Squad: Kill The Justice League.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/valesini.jpg" alt="" /></div><div class="content">
            <h2>Andrea Valesini</h2>
            <p>Co-Fondatore e Creative Director di Fantastico Studio.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2024/ricchiuti.jpg" alt="" /></div><div class="content">
            <h2>Diego Ricchiuti</h2>
            <p>Diego Ricchiuti &egrave; Creative Director ed un consulente con pi&ugrave; di 15 anni di esperienza, ed &egrave; l'autore del primo libro italiano sul game design: Game Design Tools.</p>
        </div>
    </section>
</section>
{% endif %}
