<!-- One -->
{% if page.lang == 'en' %}
<section class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Agenda 2024</h2>
            <p>/dev/games</p>
        </header>
        <div class="table-wrapper">
            <table>
                <tbody>
                    <tr>
                        <td><strong>09:00</td>
                        <td>Welcome</td>
                        <td>/dev/games<br/>Team</td>
                    </tr>
                    <tr>
                        <td><strong>09:30</strong></td>
                        <td>Abstractions for Vulkan/DirectX</td>
                        <td>Gabriel Sassone<br/>(The Multiplayer Group)</td>
                    </tr>
                    <tr>
                        <td><strong>10:30</strong></td>
                        <td>Peripheral vision: realizing foveated rendering</td>
                        <td>Luca Surace<br/>(USI Lugano)</td>
                    </tr>
                    <tr>
                        <td><strong>11:00</strong></td>
                        <td>Coffee Break</td>
                        <td>/dev/games<br/>Team</td>
                    </tr>
                    <tr>
                        <td><strong>11:20</strong></td>
                        <td>The Journey of Crafting a Premium Indie AA Game</td>
                        <td>Carlo Ivo Alimo Bianchi<br/>(Storm in a Teacup)</td>
                    </tr>
                    <tr>
                        <td><strong></strong>12:20</strong></td>
                        <td>Production and gaming business</td>
                        <td>Maurizio de Pascale<br/>(ex IO Interactive)</td>
                    </tr>
                    <tr>
                        <td><strong>13:00</strong></td>
                        <td>Lunch Break</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>14:00</strong></td>
                        <td>WebGPU in Rust</td>
                        <td>Mauro Gentile<br/>(Tech Director Ubi Milan)</td>
                    </tr>
                    <tr>
                        <td><strong>14:40</strong></td>
                        <td>Praxeology in videogames: how to motivate players</td>
                        <td>Diego Ricchiuti<br/>(Caracal Games &amp; AIV)</td>
                    </tr>
                    <tr>
                        <td><strong>15:20</strong></td>
                        <td>Coffee Break</td>
                        <td>/dev/games<br/>Team</td>
                    </tr>
                    <tr>
                        <td><strong>15:40</strong></td>
                        <td>Networking in videogames</td>
                        <td>Lorenzo Aurea<br/>(Ubisoft)</td>
                    </tr>
                    <tr>
                        <td><strong>16:20</strong></td>
                        <td>Entepreneurship and acquisitions</td>
                        <td>Maurizio Sciglio<br/>(ex Epic Games)</td>
                    </tr>
                    <tr>
                        <td><strong>17:00</strong></td>
                        <td>Coffee Break</td>
                        <td>/dev/games<br/>Team</td>
                    </tr>
                    <tr>
                        <td><strong>17:20</strong></td>
                        <td>UI programming in Unreal Engine in titoli AAA</td>
                        <td>Andrea Barillari<br/>(Warner Bros Games Montr&eacute;al)</td>
                    </tr>
                    <tr>
                        <td><strong>18:00</strong></td>
                        <td>Art and videogames: Chuccchi</td>
                        <td>Andrea Valesini<br/>(Fantastico Studio)</td>
                    </tr>
                    <tr>
                        <td><strong>18:40</strong></td>
                        <td>A scripting language for interactive dialogues</td>
                        <td>Davide Barbieri<br/>(GhostShark Games)</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</section>
{% else %}
<section class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Agenda 2024</h2>
            <p>/dev/games</p>
        </header>
        <div class="table-wrapper">
            <table>
                <tbody>
                    <tr>
                        <td><strong>09:00</td>
                        <td>Benvenuto</td>
                        <td>Team<br/>/dev/games</td>
                    </tr>
                    <tr>
                        <td><strong>09:30</strong></td>
                        <td>Astrazioni per Vulkan/DirectX</td>
                        <td>Gabriel Sassone<br/>(The Multiplayer Group)</td>
                    </tr>
                    <tr>
                        <td><strong>10:30</strong></td>
                        <td>Peripheral vision: realizing foveated rendering</td>
                        <td>Luca Surace<br/>(USI Lugano)</td>
                    </tr>
                    <tr>
                        <td><strong>11:00</strong></td>
                        <td>Coffee Break</td>
                        <td>Team<br/>/dev/games</td>
                    </tr>
                    <tr>
                        <td><strong>11:20</strong></td>
                        <td>The Journey of Crafting a Premium Indie AA Game</td>
                        <td>Carlo Ivo Alimo Bianchi<br/>(Storm in a Teacup)</td>
                    </tr>
                    <tr>
                        <td><strong></strong>12:20</strong></td>
                        <td>Produzione e gaming business</td>
                        <td>Maurizio de Pascale<br/>(ex IO Interactive)</td>
                    </tr>
                    <tr>
                        <td><strong>13:00</strong></td>
                        <td>Pausa Pranzo</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>14:00</strong></td>
                        <td>WebGPU in Rust</td>
                        <td>Mauro Gentile<br/>(Tech Director Ubi Milan)</td>
                    </tr>
                    <tr>
                        <td><strong>14:40</strong></td>
                        <td>Praxeology in videogames: how to motivate players</td>
                        <td>Diego Ricchiuti<br/>(Caracal Games &amp; AIV)</td>
                    </tr>
                    <tr>
                        <td><strong>15:20</strong></td>
                        <td>Coffee Break</td>
                        <td>Team<br/>/dev/games</td>
                    </tr>
                    <tr>
                        <td><strong>15:40</strong></td>
                        <td>Networking nei videogames</td>
                        <td>Lorenzo Aurea<br/>(Ubisoft)</td>
                    </tr>
                    <tr>
                        <td><strong>16:20</strong></td>
                        <td>Impresa e acquisizioni</td>
                        <td>Maurizio Sciglio<br/>(ex Epic Games)</td>
                    </tr>
                    <tr>
                        <td><strong>17:00</strong></td>
                        <td>Coffee Break</td>
                        <td>Team<br/>/dev/games</td>
                    </tr>
                    <tr>
                        <td><strong>17:20</strong></td>
                        <td>UI programming in Unreal Engine in titoli AAA</td>
                        <td>Andrea Barillari<br/>(Warner Bros Games Montr&eacute;al)</td>
                    </tr>
                    <tr>
                        <td><strong>18:00</strong></td>
                        <td>Arte e videogames: Chuccchi</td>
                        <td>Andrea Valesini<br/>(Fantastico Studio)</td>
                    </tr>
                    <tr>
                        <td><strong>18:40</strong></td>
                        <td>Un linguaggio di scripting per dialoghi interattivi</td>
                        <td>Davide Barbieri<br/>(GhostShark Games)</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endif %}