<section class="wrapper special style4">
    <div class="inner">
        <header class="major">
            <h2>Sponsor 2024</h2>
            <p>/dev/games</p>
        </header>
        <div class="box alt">
            <div class="row uniform 50%">
                <div class="4u"><span class="image fit"><img src="/images/pic01.jpg" alt="" /></span></div>
                <div class="4u"><span class="image fit"><img src="/images/pic02.jpg" alt="" /></span></div>
                <div class="4u"><span class="image fit"><img src="/images/pic03.jpg" alt="" /></span></div>
            </div>
        </div>
</section>
