{% if page.lang == 'en' %}
<section class="wrapper alt style1">
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Maurizio de Pascale</h2>
            <p>He is now on sabbatical. He was Chief Technology Officer of Io-Interactive, and Technical Architect at Ubisoft.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Gabriel Sassone</h2>
            <p>Principal Rendering Engineer at The Multiplayer Group, he's been Senior Rendering at Avalanche Studios.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Maurizio Sciglio</h2>
            <p>On sabbatical, he's been Director, Technology Partnerships at Epic Games, Inc., and CEO and Co-founder of Cloudgine, now part of Epic Games.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Mauro Gentile</h2>
            <p>Technology Director at Ubisoft, he's been part of the Research & Development division of NextMedia Lab.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Lorenzo Aurea</h2>
            <p>Lead Architect for Game Engineering and Infrastructure Solutions at Ubisoft, he was Lead Online Architect for Rainbow Six: Siege. He worked on several MMOs.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Luca Surace</h2>
            <p>PhD Student in Computer Graphics at USI Lugano, he works on foveated rendering and human perception.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Davide Barbieri</h2>
            <p>Freelancer and Co-founder of GhostShark Games, he works as Game Director and Developer.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Carlo Ivo Alimo Bianchi</h2>
            <p>CEO and Game Director of STORM IN A TEACUP, he was Senior and Lead Artist at Ubisoft, Square Enix, Warner Bros Games, Crytek and others.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Andrea Barillari</h2>
            <p>UI/RPG Programmer at Warner Bros, he worked on Gotham Knights and Suicide Squad: Kill The Justice League.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Andrea Valesini</h2>
            <p>Co-Founder and Creative Direcror of Fantastico Studio.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Diego Ricchiuti</h2>
            <p>Diego Ricchiuti is a Creative Director and a consultant with more than 15 years of experience, and the author of the first Italian book on game design: Game Design Tools.</p>
        </div>
    </section>
</section>
{% else %}
<section class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="/images/pic01.jpg" alt="" /></div><div class="content">
            <h2>Magna primis lobortis</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic02.jpg" alt="" /></div><div class="content">
            <h2>Tortor dolore feugiat<br />
            elementum magna</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/pic03.jpg" alt="" /></div><div class="content">
            <h2>Augue eleifend aliquet<br />
            sed condimentum</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
        </div>
    </section>
</section>
{% endif %}
