{% if page.lang == 'en' %}
<section class="wrapper style4 special">
    <div class="inner">
        <ul class="actions">
            <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLMghyTzL5NYh2mV6lRaXGO2sbgsbOHT1T" class="button big">See all Talks</a></li>
            <li><a target="_blank" href="#" class="button big disabled">Buy tickets</a></li>
        </ul>
    </div>
</section>
{% else %}
<section class="wrapper style4 special">
    <div class="inner">
        <ul class="actions">
            <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLMghyTzL5NYh2mV6lRaXGO2sbgsbOHT1T" class="button big">Vedi i Talk</a></li>
            <li><a target="_blank" href="#" class="button big disabled">Biglietti</a></li>
        </ul>
    </div>
</section>
{% endif %}