{% if page.lang == 'en' %}
<section class="wrapper alt style1">
    <section class="spotlight">
        <div class="image"><img src="/images/2025/lucheroni.jpg" alt="" /></div><div class="content">
            <h2>Eleonora Lucheroni</h2>
            <p>Eleonora Lucheroni is a Producer and Business Development Manager in the video game development industry. Since 2021, she has been part of Ubisoft Milan, where she oversees large-scale international projects such as Assassin’s Creed Shadows and Mario + Rabbids. With over twelve years of experience, she has worked in top Italian studios and international settings. She has held roles ranging from marketing and PR to business development and production. Passionate about gaming and with a dynamic communication style, Eleonora brings a well-rounded perspective to the industry.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/savage.jpg" alt="" /></div><div class="content">
            <h2>Luke Savage</h2>
            <p>Luke Savage is Education Advisor at Epic Games, working with universities and colleges around the world to build the next generation of talent. He previously ran the PlayStation First developer program at Sony Interactive Entertainment, helping students develop and publish games on PlayStation. Prior to that, Luke worked in skills development across the UK, building training programs for the Film and Video Games industries.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/molino.jpg" alt="" /></div><div class="content">
            <h2>Piero Molino</h2>
            <p>AI expert with 15 years of experience. AI PhD., Stanford Post Doc, worked at Yahoo and IBM Watson. Founder of Uber AI, authors of Ludwig (12K stars on GitHub), and founder of Predibase, AI infra company. Created GARP, the first Real Time Generative Agents simulation that runs on-device.
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/thompson.jpg" alt="" /></div><div class="content">
            <h2>Tommy Thompson</h2>
            <p>Dr Tommy Thompson is the founder of AI and Games, a company that provides consultancy, training, and development support for artificial intelligence in the video games industry. He is largely known as a content creator and producer, running the AI and Games YouTube channel for over 10 years, plus a weekly newsletter on AI in the games industry, and is the lead organiser of the AI and Games Conference in London. Before working in the industry, Tommy was a university lecturer and researcher for 10 years in computer science, AI, and game development.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/cozzi.jpg" alt="" /></div><div class="content">
            <h2>Stefano Cozzi</h2>
            <p>Stefano Cozzi has over 12 years of experience in the video game industry, with key roles at Blizzard Entertainment and Riot Games. At Blizzard he acted as as Assistant Community Team Manager Europe for flagship titles like World of Warcraft, Hearthstone, Heroes of the Storm, Diablo 3 and StarCraft II. From 2015 to 2018, at Riot Games, he served as Publishing Manager for emerging markets, playing a pivotal role in the European communities of League of Legends, Legends of Runeterra, and Teamfight Tactics. For over six years he has been teaching at Università IULM, focusing on corporate culture and team building. Currently, he works as a consultant for both gaming and non-gaming companies, helping improve employee retention, corporate culture, and talent acquisition.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/theodorou.jpg" alt="" /></div><div class="content">
            <h2>Angelo Theodorou</h2>
            <p>Angelo Theodorou is a game industry rendering engineer with experience at ARM, NaturalMotion, Frostbite, and The Multiplayer Group. He is the author of nCine, an open-source 2D game framework, and has a deep passion for real-time graphics, low-level programming, and performance optimization. A longtime enthusiast of the Amiga and the demoscene, he has been an Arch Linux user for over twenty years. He enjoys exploring cutting-edge graphics techniques, studying engine programming topics for nCine, and contributing to his open-source projects.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/amato.jpg" alt="" /></div><div class="content">
            <h2>Davide Amato</h2>
            <p>Game Programmer at Tiny Bull Studios with 2+ years of experience in the industry, passionate about everything related to programming and game development.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/bonanni.jpg" alt="" /></div><div class="content">
            <h2>Tommaso Bonanni</h2>
            <p>Creative Director and CEO of Caracal Games, a studio he founded 10 years ago to bring unique gaming experiences to life. He has designed and worked on titles like Downward and OkunoKa and more, driven by a constant pursuit of new creative challenges. After releasing the Game Boy title 2021: Moon Escape on multiple platforms, he is now working on Star Overdrive, a sci-fi open-world game inspired by The Legend of Zelda: Breath of the Wild, set to launch on April 10, 2025, with the goal of taking players even further.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/barillari.jpg" alt="" /></div><div class="content">
            <h2>Andrea Barillari</h2>
            <p>UI/RPG Programmer at Warner Bros, he worked on Gotham Knights and Suicide Squad: Kill The Justice League and Mortal Kombat 1.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/d-antimi.jpg" alt="" /></div><div class="content">
            <h2>Michele D'Antimi</h2>
            <p>Michele D'Antimi is an experienced professional in Game Design, Game Programming, and digital innovation. Holding a degree in Computer Engineering, he has worked with renowned development studios, contributing to the creation of critically acclaimed video games on an international scale. He has also been a professor at IED University in Rome, where he taught Game Design and scripting courses, while supervising thesis projects focused on gaming. Currently, he is a Senior Game Designer at Ubisoft Milan.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/cozza.jpg" alt="" /></div><div class="content">
            <h2>Marco Cozza</h2>
            <p>Marco Cozza is a passionate software engineer specializing in Extended Reality, serious games, and interactive multimedia solutions for Cultural Heritage promotion. He earned his Master’s Degree in Computer Science from the University of Calabria in 2015 and has been the CTO and Project Manager at 3D Research since 2014. Over the years, Marco has played a key role in numerous national and European research projects, combining cutting-edge technology with innovative storytelling to bring history and culture to life. Currently, Marco is leading the CREAMARE project, in which 3D Research is developing a Serious Game on underwater cultural heritage, leveraging immersive technologies to enhance public engagement and awareness.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/sassone.jpg" alt="" /></div><div class="content">
            <h2>Gabriel Sassone</h2>
            <p>Principal Rendering Engineer at The Multiplayer Group, he's been Senior Rendering at Avalanche Studios.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/sassone.jpg" alt="" /></div><div class="content">
            <h2>Fabrizio Marocchino</h2>
            <p>Fabrizio Marocchino is a highly skilled game designer with a strong technical background and over 12 years of experience in the video game industry. With deep expertise in game and level design, as well as deep knowledge of game engines, he has played a key role in the development of critically acclaimed titles. His ability to balance creativity with technical precision has led to the successful execution of complex gameplay mechanics, combat systems, and immersive level experiences.Currently Fabrizio is covering the role of Senior Game Designer at Ubisoft Milan, where he owns combat mechanics and boss fights design.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/surace.jpg" alt="" /></div><div class="content">
            <h2>Luca Surace</h2>
            <p>Luca Surace is a PhD candidate in the Perception, Display and Fabrication group at USI Lugano. He works on leveraging visual perception for computer graphics applications. He did research visits at Disney Research Zurich, working on color grading; and at University of Plymouth, working on emotion recognition. Before his PhD, he worked on computer vision for aircraft inspection and obtained a MSc in computer science from Universit&agrave; della Calabria.</p>
        </div>
    </section>
</section>
{% else %}
<section class="wrapper alt style1">
    <section class="spotlight">
        <div class="image"><img src="/images/2025/lucheroni.jpg" alt="" /></div>
        <div class="content">
            <h2>Eleonora Lucheroni</h2>
            <p>Eleonora Lucheroni è una Producer e Business Development Manager nell'industria dello sviluppo di videogiochi. Dal 2021 fa parte di Ubisoft Milan, dove gestisce progetti internazionali su larga scala come Assassin’s Creed Shadows e Mario + Rabbids. Con oltre dodici anni di esperienza, ha lavorato in studi italiani di alto livello e in contesti internazionali. Ha ricoperto ruoli che spaziano dal marketing e PR allo sviluppo del business e alla produzione. Appassionata di videogiochi e con uno stile comunicativo dinamico, Eleonora porta una visione completa e trasversale al settore.</p>
        </div>
    </section>
        <section class="spotlight">
        <div class="image"><img src="/images/2025/savage.jpg" alt="" /></div><div class="content">
            <h2>Luke Savage</h2>
            <p>Luke Savage &egrave; Consulente per l'Istruzione presso Epic Games, e collabora con universit&agrave; e college di tutto il mondo per formare la prossima generazione di talenti. In precedenza ha gestito il programma di sviluppo PlayStation First presso Sony Interactive Entertainment, aiutando gli studenti a sviluppare e pubblicare giochi su PlayStation. Prima ancora, Luke ha lavorato nello sviluppo delle competenze in tutto il Regno Unito, creando programmi di formazione per le industrie del Cinema e dei Videogiochi.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/molino.jpg" alt="" /></div><div class="content">
            <h2>Piero Molino</h2>
            <p>Esperto di intelligenza artificiale con 15 anni di esperienza. Dottorato in AI, Post Doc a Stanford, ha lavorato presso Yahoo e IBM Watson. Fondatore di Uber AI, autore di Ludwig (12K stelle su GitHub) e fondatore di Predibase, azienda di infrastrutture AI. Ha creato GARP, la prima simulazione di agenti generativi in tempo reale che funziona direttamente sul dispositivo.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/thompson.jpg" alt="" /></div>
        <div class="content">
            <h2>Tommy Thompson</h2>
            <p>Il Dr. Tommy Thompson &egrave; il fondatore di AI and Games, un'azienda che offre consulenza, formazione e supporto allo sviluppo per l'intelligenza artificiale nell'industria dei videogiochi. &Egrave; conosciuto principalmente come creatore e produttore di contenuti, gestendo il canale YouTube AI and Games da oltre 10 anni, oltre a una newsletter settimanale sull'IA nell'industria dei giochi, ed &grave; l'organizzatore principale della conferenza AI and Games a Londra. Prima di lavorare nell'industria, Tommy è stato docente universitario e ricercatore per 10 anni nei campi dell'informatica, dell'intelligenza artificiale e dello sviluppo di videogiochi.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/cozzi.jpg" alt="" /></div><div class="content">
            <h2>Stefano Cozzi</h2>
            <p>Stefano Cozzi ha oltre 12 anni di esperienza nell'industria dei videogiochi, con ruoli chiave presso Blizzard Entertainment e Riot Games. In Blizzard ha ricoperto il ruolo di Assistant Community Team Manager Europe per titoli di punta come World of Warcraft, Hearthstone, Heroes of the Storm, Diablo 3 e StarCraft II. Dal 2015 al 2018, presso Riot Games, ha lavorato come Publishing Manager per i mercati emergenti, svolgendo un ruolo chiave nelle comunit&agrave; europee di League of Legends, Legends of Runeterra e Teamfight Tactics. Da oltre sei anni insegna all&rsquo;Universit&agrave; IULM, concentrandosi su cultura aziendale e team building. Attualmente lavora come consulente per aziende sia nel settore gaming che in altri ambiti, aiutandole a migliorare la fidelizzazione dei dipendenti, la cultura aziendale e il reclutamento dei talenti.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/theodorou.jpg" alt="" /></div><div class="content">
            <h2>Angelo Theodorou</h2>
            <p>Angelo Theodorou &egrave; un ingegnere specializzato nel rendering per l'industria dei videogiochi, con esperienza presso ARM, NaturalMotion, Frostbite e The Multiplayer Group. &Egrave; l'autore di nCine, un framework open-source per giochi 2D, e ha una profonda passione per la grafica in tempo reale, la programmazione di basso livello e l'ottimizzazione delle prestazioni. Appassionato di Amiga e della demoscene, &egrave; utente di Arch Linux da oltre vent'anni. Ama esplorare tecniche grafiche all'avanguardia, studiare argomenti di programmazione dei motori per nCine e contribuire ai suoi progetti open-source.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/amato.jpg" alt="" /></div>
        <div class="content">
            <h2>Davide Amato</h2>
            <p>Programmatore di videogiochi presso Tiny Bull Studios con oltre 2 anni di esperienza nel settore, appassionato di tutto ciò che riguarda la programmazione e lo sviluppo di videogiochi.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/bonanni.jpg" alt="" /></div>
        <div class="content">
            <h2>Tommaso Bonanni</h2>
            <p>Direttore creativo e CEO di Caracal Games, uno studio che ha fondato 10 anni fa per dare vita a esperienze di gioco uniche. Ha ideato e lavorato su titoli come Downward e OkunoKa e altri ancora, spinto da una costante ricerca di nuove sfide creative. Dopo aver pubblicato il titolo per Game Boy <em>2021: Moon Escape</em> su più piattaforme, è attualmente al lavoro su <em>Star Overdrive</em>, un gioco open-world sci-fi ispirato a <em>The Legend of Zelda: Breath of the Wild</em>, con uscita prevista per il 10 aprile 2025, con l'obiettivo di portare i giocatori ancora più lontano.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/barillari.jpg" alt="" /></div>
        <div class="content">
            <h2>Andrea Barillari</h2>
            <p>Programmatore UI/RPG presso Warner Bros, ha lavorato a Gotham Knights, Suicide Squad: Kill The Justice League e Mortal Kombat 1.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/d-antimi.jpg" alt="" /></div>
        <div class="content">
            <h2>Michele D'Antimi</h2>
            <p>Michele D'Antimi è un professionista esperto in Game Design, Game Programming e innovazione digitale. Laureato in Ingegneria Informatica, ha collaborato con studi di sviluppo di fama, contribuendo alla realizzazione di videogiochi acclamati dalla critica a livello internazionale. È stato anche docente presso lo IED di Roma, dove ha insegnato corsi di Game Design e scripting, supervisionando progetti di tesi incentrati sul mondo videoludico. Attualmente è Senior Game Designer presso Ubisoft Milan.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/cozza.jpg" alt="" /></div>
        <div class="content">
            <h2>Marco Cozza</h2>
            <p>Marco Cozza è un appassionato ingegnere del software specializzato in Realtà Estesa, serious game e soluzioni multimediali interattive per la valorizzazione del Patrimonio Culturale. Ha conseguito la Laurea Magistrale in Informatica presso l'Università della Calabria nel 2015 ed è CTO e Project Manager presso 3D Research dal 2014. Nel corso degli anni, Marco ha avuto un ruolo chiave in numerosi progetti di ricerca nazionali ed europei, combinando tecnologie all’avanguardia con narrazioni innovative per dare vita alla storia e alla cultura. Attualmente, Marco è a capo del progetto CREAMARE, in cui 3D Research sta sviluppando un Serious Game sul patrimonio culturale sommerso, sfruttando tecnologie immersive per aumentare il coinvolgimento e la consapevolezza del pubblico.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/sassone.jpg" alt="" /></div>
        <div class="content">
            <h2>Gabriel Sassone</h2>
            <p>&Egrave; Principal Rendering Engineer presso The Multiplayer Group ed &egrave; stato Senior Rendering presso Avalanche Studios.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/sassone.jpg" alt="" /></div>
        <div class="content">
            <h2>Fabrizio Marocchino</h2>
            <p>Fabrizio Marocchino &egrave; un game designer altamente qualificato, con una solida formazione tecnica e oltre 12 anni di esperienza nell'industria dei videogiochi. Con una profonda competenza nel game e level design, oltre a una conoscenza approfondita dei motori di gioco, ha avuto un ruolo chiave nello sviluppo di titoli acclamati dalla critica. La sua capacit&agrave; di bilanciare creativit&agrave; e precisione tecnica ha portato alla realizzazione efficace di meccaniche di gioco complesse, sistemi di combattimento e livelli immersivi. Attualmente Fabrizio ricopre il ruolo di Senior Game Designer presso Ubisoft Milan, dove si occupa del design delle meccaniche di combattimento e dei boss fight.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/surace.jpg" alt="" /></div><div class="content">
            <h2>Luca Surace</h2>
            <p>Luca Surace &egrave; dottorando nel gruppo di Percezione, Display e Fabrication all'USI Lugano. I suoi interessi di ricerca riguardano lo studio della percezione umana per applicazioni in computer grafica. Ha svolto periodi di ricerca presso Disney Research Zurigo, occupandosi di color grading; e all'Università di Plymouth, lavorando sul riconoscimento emozioni. Prima del dottorato, ha lavorato in computer vision per l'ispezione di aerei e ha conseguito la laurea magistrale in informatica all'Universit&agrave; della Calabria.</p>
        </div>
    </section>
</section>
{% endif %}