<section class="wrapper special style5">
    <div class="inner">
        <header class="major">
            <h2>Sponsor 2025</h2>
            <p>/dev/games</p>
        </header>
        <div class="box alt">
            <div class="row uniform 50%">
                <div class="3u"><span class="image fit"><a href="https://floaty.it/"><img src="/images/floaty-square.jpg" alt="" /></a></span></div>
                <div class="3u"><span class="image fit"><a href="https://www.laziodigital.it/"><img src="/images/ld-square.jpg" alt="" /></a></span></div>
                <div class="3u"><span class="image fit"><a href="https://www.facebook.com/groups/ggjroma"><img src="/images/rgd-square.jpg" alt="" /></a></span></div>
                <div class="3u"><span class="image fit"><a href="https://www.aiv01.it/"><img src="/images/aiv-square.png" alt="" /></a></span></div>
            </div>
        </div>
        <div class="box alt">
            <div class="row uniform 50%">
                <div class="1u"><span class="image fit"></span></div>
                <div class="3u"><span class="image fit"><a href="https://www.kabum.it/"><img src="/images/kabum-square.png" alt="" /></a></span></div>
                <div class="1u"><span class="image fit"></span></div>
                <div class="3u"><span class="image fit"><a href="https://biunivoca.com/"><img src="/images/biunivoca-square.png" alt="" /></a></span></div>
                <div class="1u"><span class="image fit"></span></div>
                <div class="3u"><span class="image fit"><a href="https://excaliber.it/"><img src="/images/excaliber-square.jpg" alt="" /></a></span></div>
                <div class="1u"><span class="image fit"></span></div>
            </div>
        </div>
</section>
