{% if page.lang == 'en' %}
<section class="wrapper alt style1 special">
    <div class="inner">
        <header class="major">
            <h2></h2>
        </header>
    </div> 
    <div class="inner">
        <header class="major">
            <h1>Speakers will be announced soon!</h1>
        </header>
    </div> 
    <div class="inner">
        <header class="major">
            <h2></h2>
        </header>
    </div> 
</section>
{% else %}
<section class="wrapper alt style1 special">
    <div class="inner">
        <header class="major">
            <h2></h2>
        </header>
    </div> 
    <div class="inner">
        <header class="major">
            <h1>Gli speakers saranno annunciati presto!</h1>
        </header>
    </div> 
    <div class="inner">
        <header class="major">
            <h2></h2>
        </header>
    </div> 
</section>
{% endif %}
