<!-- One -->
{% if page.lang == 'en' %}
<section class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Agenda 2025</h2>
            <p>/dev/games</p>
            <h2>(more talks to be announced soon)</h2>
        </header>
        <div class="table-wrapper">
            <table>
                <tbody>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Breaking the Mold: Career Shifts in the Games Industry</td>
                        <td>Eleonora Lucheroni, Michele D'Antimi &amp; Fabrizio Marocchino<br/>(Ubisoft)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>10 Tips for Building your Game Career</td>
                        <td>Luke Savage<br/>(Epic Games)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Generative LLM Agents that run on-device in real time</td>
                        <td>Piero Molino<br/>(Studio Atelico)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Don't Forget, NPCs Need Love Too</td>
                        <td>Tommy Thompson<br/>(AI and Games)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Culture first: how strong teams lead to better games</td>
                        <td>Stefano Cozzi<br/>(Freelance)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Lessons from 14 Years of Developing nCine, an Open-Source 2D Game Framework</td>
                        <td>Angelo Theodorou<br/>(Freelance)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>A very simple Entity-Component System implementation in C++</td>
                        <td>Davide Amato<br/>(Tiny Bull Studios)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Boost your indie production by boosting your indie structure</td>
                        <td>Tommaso Bonanni<br/>(Caracal Games)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Garbage Collection in Unreal Engine</td>
                        <td>Andrea Barillari<br/>(Warner-Brothers)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Serious Games to promote Cultural Heritage. The case study of CREAMARE</td>
                        <td>Marco Cozza<br/>(3D Research srl)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Demystifying Vulkan Ray Tracing</td>
                        <td>Gabriel Sassone<br/>(The Multiplayer Group)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section class="wrapper style4 special">
        <div class="inner">
            <ul class="actions">
                <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLMghyTzL5NYh2mV6lRaXGO2sbgsbOHT1T" class="button big special icon fa-video-camera">Talks //2024</a></li>
            </ul>
        </div>
    </section>                            
</section>
{% else %}
<section class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Agenda 2025</h2>
            <p>/dev/games</p>
            <h2>(altri talks saranno annunciati presto)</h2>
        </header>
        <div class="table-wrapper">
            <table>
                <tbody>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Rompere gli Schemi: Cambi di Carriera nell'Industria dei Videogiochi</td>
                        <td>Eleonora Lucheroni, Michele D'Antimi &amp; Fabrizio Marocchino<br/>(Ubisoft)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>10 Consigli per Costruire la tua Carriera come Game Developer</td>
                        <td>Luke Savage<br/>(Epic Games)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Agenti LLM generativi che girano in tempo reale sul dispositivo</td>
                        <td>Piero Molino<br/>(Studio Atelico)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Non dimenticare, anche gli NPC hanno bisogno di amore</td>
                        <td>Tommy Thompson<br/>(AI and Games)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>La cultura prima di tutto: come i team forti portano a giochi migliori</td>
                        <td>Stefano Cozzi<br/>(Freelance)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Lezioni da 14 anni di sviluppo di nCine, un framework 2D open-source per videogiochi</td>
                        <td>Angelo Theodorou<br/>(Freelance)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Una semplicissima implementazione di un sistema Entity-Component in C++</td>
                        <td>Davide Amato<br/>(Tiny Bull Studios)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Dai una spinta alla tua produzione indie rafforzando la tua struttura indie</td>
                        <td>Tommaso Bonanni<br/>(Caracal Games)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Garbage Collection in Unreal Engine</td>
                        <td>Andrea Barillari<br/>(Warner-Brothers)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Giochi seri per promuovere il Patrimonio Culturale. Il caso studio di CREAMARE</td>
                        <td>Marco Cozza<br/>(3D Research srl)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Demistificare il Ray Tracing con Vulkan</td>
                        <td>Gabriel Sassone<br/>(The Multiplayer Group)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section class="wrapper style4 special">
        <div class="inner">
            <ul class="actions">
                <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLMghyTzL5NYh2mV6lRaXGO2sbgsbOHT1T" class="button big special icon fa-video-camera">Talks //2024</a></li>
            </ul>
        </div>
    </section>                            
</section>
{% endif %}