<!-- One -->
{% if page.lang == 'en' %}
<section class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Agenda 2025</h2>
            <p>/dev/games</p>
        </header>
        <h2>To be announced soon!</h2>
        <section class="wrapper style4 special">
            <div class="inner">
                <ul class="actions">
                    <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLMghyTzL5NYh2mV6lRaXGO2sbgsbOHT1T" class="button special icon fa-video-camera">Talks //2024</a></li>
                </ul>
            </div>
        </section>       
    </div>
</section>
{% else %}
<section class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Agenda 2025</h2>
            <p>/dev/games</p>
        </header>
    </div>
    <h2>Sar&agrave; annunciata presto!</h2>
    <section class="wrapper style4 special">
        <div class="inner">
            <ul class="actions">
                <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLMghyTzL5NYh2mV6lRaXGO2sbgsbOHT1T" class="button special icon fa-video-camera">Talks //2024</a></li>
            </ul>
        </div>
    </section>       
</section>
{% endif %}