{% if page.lang == 'en' %}
<section class="wrapper alt style1">
    <section class="spotlight">
        <div class="image"><img src="/images/2025/molino.jpg" alt="" /></div><div class="content">
            <h2>Piero Molino</h2>
            <p>AI expert with 15 years of experience. AI PhD., Stanford Post Doc, worked at Yahoo and IBM Watson. Founder of Uber AI, authors of Ludwig (12K stars on GitHub), and founder of Predibase, AI infra company. Created GARP, the first Real Time Generative Agents simulation that runs on-device.
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/cozzi.jpg" alt="" /></div><div class="content">
            <h2>Stefano Cozzi</h2>
            <p>Stefano Cozzi has over 12 years of experience in the video game industry, with key roles at Blizzard Entertainment and Riot Games. At Blizzard he acted as as Assistant Community Team Manager Europe for flagship titles like World of Warcraft, Hearthstone, Heroes of the Storm, Diablo 3 and StarCraft II. From 2015 to 2018, at Riot Games, he served as Publishing Manager for emerging markets, playing a pivotal role in the European communities of League of Legends, Legends of Runeterra, and Teamfight Tactics. For over six years he has been teaching at Università IULM, focusing on corporate culture and team building. Currently, he works as a consultant for both gaming and non-gaming companies, helping improve employee retention, corporate culture, and talent acquisition.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/theodorou.jpg" alt="" /></div><div class="content">
            <h2>Angelo Theodorou</h2>
            <p>Angelo Theodorou is a game industry rendering engineer with experience at ARM, NaturalMotion, Frostbite, and The Multiplayer Group. He is the author of nCine, an open-source 2D game framework, and has a deep passion for real-time graphics, low-level programming, and performance optimization. A longtime enthusiast of the Amiga and the demoscene, he has been an Arch Linux user for over twenty years. He enjoys exploring cutting-edge graphics techniques, studying engine programming topics for nCine, and contributing to his open-source projects.</p>
        </div>
    </section>
</section>
{% else %}
<section class="wrapper alt style1">
    <section class="spotlight">
        <div class="image"><img src="/images/2025/molino.jpg" alt="" /></div><div class="content">
            <h2>Piero Molino</h2>
            <p>Esperto di intelligenza artificiale con 15 anni di esperienza. Dottorato in AI, Post Doc a Stanford, ha lavorato presso Yahoo e IBM Watson. Fondatore di Uber AI, autore di Ludwig (12K stelle su GitHub) e fondatore di Predibase, azienda di infrastrutture AI. Ha creato GARP, la prima simulazione di agenti generativi in tempo reale che funziona direttamente sul dispositivo.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/cozzi.jpg" alt="" /></div><div class="content">
            <h2>Stefano Cozzi</h2>
            <p>Stefano Cozzi ha oltre 12 anni di esperienza nell'industria dei videogiochi, con ruoli chiave presso Blizzard Entertainment e Riot Games. In Blizzard ha ricoperto il ruolo di Assistant Community Team Manager Europe per titoli di punta come World of Warcraft, Hearthstone, Heroes of the Storm, Diablo 3 e StarCraft II. Dal 2015 al 2018, presso Riot Games, ha lavorato come Publishing Manager per i mercati emergenti, svolgendo un ruolo chiave nelle comunit&agrave; europee di League of Legends, Legends of Runeterra e Teamfight Tactics. Da oltre sei anni insegna all&rsquo;Universit&agrave; IULM, concentrandosi su cultura aziendale e team building. Attualmente lavora come consulente per aziende sia nel settore gaming che in altri ambiti, aiutandole a migliorare la fidelizzazione dei dipendenti, la cultura aziendale e il reclutamento dei talenti.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="/images/2025/theodorou.jpg" alt="" /></div><div class="content">
            <h2>Angelo Theodorou</h2>
            <p>Angelo Theodorou &egrave; un ingegnere specializzato nel rendering per l'industria dei videogiochi, con esperienza presso ARM, NaturalMotion, Frostbite e The Multiplayer Group. &Egrave; l'autore di nCine, un framework open-source per giochi 2D, e ha una profonda passione per la grafica in tempo reale, la programmazione di basso livello e l'ottimizzazione delle prestazioni. Appassionato di Amiga e della demoscene, &egrave; utente di Arch Linux da oltre vent'anni. Ama esplorare tecniche grafiche all'avanguardia, studiare argomenti di programmazione dei motori per nCine e contribuire ai suoi progetti open-source.</p>
        </div>
    </section>
</section>
{% endif %}