<section class="wrapper special style5">
    <div class="inner">
        <header class="major">
            <h2>Sponsor 2025</h2>
            <p>/dev/games</p>
        </header>
        <div class="box alt">
            <div class="row uniform 50%">
                <div class="6u"><span class="image fit"><a href="https://floaty.it/"><img src="/images/floaty.jpg" alt="" /></a></span></div>
                <div class="6u"><span class="image fit"><a href="https://biunivoca.com/"><img src="/images/biunivoca.jpg" alt="" /></a></span></div>
            </div>
        </div>
</section>
