{% if page.lang == 'en' %}
<section class="wrapper special style3">
    <div class="inner">
        <ul class="actions vertical">
            <li><a href="2025.html#speakers2025" class="button special big">Speakers' Bios</a></li>
        </ul>
    </div>
</section>
{% else %}
<section class="wrapper special style3">
    <div class="inner">
        <ul class="actions vertical">
            <li><a href="2025.html#speakers2025" class="button special big">CV degli Speaker</a></li>
        </ul>
    </div>
</section>
{% endif %}
