<!-- One -->
{% if page.lang == 'en' %}
<section class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Agenda 2026</h2>
            <p>/dev/games</p>
        </header>
        <div class="table-wrapper">
            <table>
                <tbody>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Team Management</td>
                        <td>Stefano Cozzi</td>
                        <td>(<strong>TBA</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>TBA</td>
                        <td>Cristina Nava, Luca Breda &amp; Gian Marco Zanna</td>
                        <td>(<strong>Day 4 Night Productions</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>AI in Production</td>
                        <td>Giordano Berselli</td>
                        <td>(<strong>TBA</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>TBA</td>
                        <td>Tommy Thompson</td>
                        <td>(<strong>AI and Games</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Create a Good Tutorial</td>
                        <td>Diego Ricchiuti</td>
                        <td>(<strong>Caracal Games</strong>, <strong>Focus Home</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>TBA</td>
                        <td>Riccardo Stucchi</td>
                        <td>(<strong>Day 4 Night Productions</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Demistificare il Neural Rendering</td>
                        <td>Gabriel Sassone</td>
                        <td>(<strong>TBA</strong>)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section class="wrapper style4 special">
        <div class="inner">
            <ul class="actions">
                <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLMghyTzL5NYhHny9zEcrc0hFrhkV-QVB0" class="button big special icon fa-video-camera">Talks //2025</a></li>
            </ul>
        </div>
    </section>                            
</section>
{% else %}
<section class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Agenda 2026</h2>
            <p>/dev/games</p>
        </header>
        <div class="table-wrapper">
            <table>
                <tbody>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Team Management</td>
                        <td>Stefano Cozzi</td>
                        <td>(<strong>TBA</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>TBA</td>
                        <td>Cristina Nava, Luca Breda &amp; Gian Marco Zanna</td>
                        <td>(<strong>Day 4 Night Productions</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>AI in Produzione</td>
                        <td>Giordano Berselli</td>
                        <td>(<strong>TBA</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>TBA</td>
                        <td>Tommy Thompson</td>
                        <td>(<strong>AI and Games</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Creare un Buon Tutorial</td>
                        <td>Diego Ricchiuti</td>
                        <td>(<strong>Caracal Games</strong>, <strong>Focus Home</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>TBA</td>
                        <td>Riccardo Stucchi</td>
                        <td>(<strong>Day 4 Night Productions</strong>)</td>
                    </tr>
                    <tr>
                        <td><strong>&nbsp;</strong></td>
                        <td>Demistifying Neural Rendering</td>
                        <td>Gabriel Sassone</td>
                        <td>(<strong>TBA</strong>)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section class="wrapper style4 special">
        <div class="inner">
            <ul class="actions">
                <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLMghyTzL5NYhHny9zEcrc0hFrhkV-QVB0" class="button big special icon fa-video-camera">Talks //2025</a></li>
            </ul>
        </div>
    </section>                            
</section>
{% endif %}