{% if page.lang == 'en' %}
<section class="wrapper alt style1">
    <section class="spotlight">
        <div class="image"><img src="/images/2026/berselli.jpg" alt="" /></div><div class="content">
            <h2>Giordano Berselli</h2>
            <p>Lifelong gamer, he first started developing mobile games for fun and later professionally about 15 years ago, before being hired at Ubisoft Milan and becoming passionate about the world of AI. Over the course of his career, he had the opportunity to work on several AAA projects, including Ghost Recon Wildlands, Sackboy: A Big Adventure, and Suicide Squad: Kill the Justice League./p>
        </div>
    </section>
</section>
{% else %}
<section class="wrapper alt style1">
    <section class="spotlight">
        <div class="image"><img src="/images/2026/berselli.jpg" alt="" /></div>
        <div class="content">
            <h2>Giordano Berselli</h2>
            <p>Videogiocatore da sempre, ha iniziato a sviluppare giochi mobile per piacere prima e professionalmente poi circa 15 anni fa, prima di essere assunto in Ubisoft Milano e appassionarsi al mondo dell'AI. Nel corso della sua carriera ha avuto modo di lavorare su diversi progetti AAA tra cui Ghost Recon Wildlands, Sackboy A Big Adventure e Suicide Squad: Kill the Justice League.</p>
        </div>
    </section>
</section>
{% endif %}