{% if page.lang == 'en' %}
<section class="wrapper style4 special">
    <div class="inner">
        <ul class="actions">
            <li><a target="_blank" href="https://www.eventbrite.it/e/biglietti-devgames2026-1982001477774?aff=oddtdtcreator" class="button big special icon fa-ticket">Buy tickets //2026</a></li>
        </ul>
    </div>
</section>
{% else %}
<section class="wrapper style4 special">
    <div class="inner">
        <ul class="actions">
            <li><a target="_blank" href="https://www.eventbrite.it/e/biglietti-devgames2026-1982001477774?aff=oddtdtcreator" class="button big special icon fa-ticket">Biglietti //2026</a></li>
        </ul>
    </div>
</section>
{% endif %}