{% if page.lang == 'en' %}
<section id="banner">
    <div class="inner">
        <h2>{{ site.title }}</h2>
        <p>Italian Conference on Game Development</p>
        <h3>
            <ul class="icons">
                <li><a target="_blank" href="mailto:info@devgames.org" class="icon fa-envelope"
                    ><span class="label">Mail</span></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/company/devgamesconf" class="icon fa-linkedin"
                    ><span class="label">LinkedIn</span></a></li>
                <li><a target="_blank" href="https://www.facebook.com/devgamesconf" class="icon fa-facebook-official"
                    ><span class="label">Facebook</span></a></li>
                <li><a target="_blank" href="https://www.instagram.com/devgamesconf/" class="icon fa-instagram"
                    ><span class="label">Instagram</span></a></li>
                <li><a target="_blank" href="https://www.youtube.com/@devgamesconf" class="icon fa-youtube-square"
                    ><span class="label">YouTube</span></a></li>
            </ul>	
        </h3>	
        <section class="wrapper style4 special">
            <div class="inner">
                <h2>Rome, June 2025</h2>
                <ul class="actions">
                    <li><a target="_blank" href="https://forms.gle/EXg623obsjoJfkd69" class="button big special icon fa-paper-plane">Pre-sale //2025</a></li>
                </ul>
            </div>
        </section>                            
    </div>
    <a href="#one" class="more scrolly">Learn More</a>
</section>
<section id="one"></section>
{% else %}
<section id="banner">
    <div class="inner">
        <h2>{{ site.title }}</h2>
        <p>Conferenza Italiana sul Game Development</p>
        <h3>
            <ul class="icons">
                <li><a target="_blank" href="mailto:info@devgames.org" class="icon fa-envelope"
                    ><span class="label">Mail</span></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/company/devgamesconf" class="icon fa-linkedin"
                    ><span class="label">LinkedIn</span></a></li>
                <li><a target="_blank" href="https://www.facebook.com/devgamesconf" class="icon fa-facebook-official"
                    ><span class="label">Facebook</span></a></li>
                <li><a target="_blank" href="https://www.instagram.com/devgamesconf/" class="icon fa-instagram"
                    ><span class="label">Instagram</span></a></li>
                <li><a target="_blank" href="https://www.youtube.com/@devgamesconf" class="icon fa-youtube-square"
                    ><span class="label">YouTube</span></a></li>
            </ul>	
        </h3>	
        <section class="wrapper style4 special">
            <div class="inner">
                <h2>Roma, Giugno 2025</h2>
                <ul class="actions">
                    <li><a target="_blank" href="https://forms.gle/EXg623obsjoJfkd69" class="button big special icon fa-paper-plane">Prevendita //2025</a></li>
                </ul>
            </div>
        </section>                            
    </div>
    <a href="#one" class="more scrolly">Informazioni</a>
</section>
<section id="one"></section>
{% endif %}