<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a target="_blank" href="mailto:info@devgames.org" class="icon fa-envelope"
      ><span class="label">Mail</span></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/company/devgamesconf" class="icon fa-linkedin"
        ><span class="label">LinkedIn</span></a></li>
    <li><a target="_blank" href="https://www.facebook.com/devgamesconf" class="icon fa-facebook-official"
        ><span class="label">Facebook</span></a></li>
    <li><a target="_blank" href="https://www.instagram.com/devgamesconf/" class="icon fa-instagram"
        ><span class="label">Instagram</span></a></li>
    <li><a target="_blank" href="https://www.youtube.com/@devgamesconf" class="icon fa-youtube-square"
        ><span class="label">YouTube</span></a></li>
  </ul>	
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }}{% endif %}
    {% endif %}
    &mdash;
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
  </ul>
</footer>
