<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <!-- language -->
      <li><span class="icon fa-language">&nbsp;<a id="lang" href="#" class="language-toggle">NO</a></span></li>
      <!-- menu -->
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.title and my_page.lang == page.lang %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var pathname = window.location.pathname;
    var langToggle = document.querySelector('.language-toggle');
  
    if (pathname.includes('/it/')) {
      langToggle.textContent = 'EN';
      langToggle.href = pathname.replace('/it/', '/en/');
    } else if (pathname.includes('/en/')) {
      langToggle.textContent = 'IT';
      langToggle.href = pathname.replace('/en/', '/it/');
    }
  
    // Force a reload on click
    langToggle.addEventListener('click', function(e) {
      e.preventDefault();
      window.location.href = this.href;
    });
  });
  </script>