<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/it/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <!-- language -->
      <li><span class="icon fa-language">&nbsp;<a href="{{ site.baseurl }}/en/index.html" >EN</a></span></li>
      <!-- menu -->
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.title and my_page.lang == 'it' %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
